@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,200;0,300;1,100&display=swap');

body { 
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    padding: auto;
  }

header {
    background-color: #28453A;
    border-radius: 20px;
    box-shadow: 2px 6px 24px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
}



h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    margin: 10px 10px 0 10px;
}

ul li{
    font-family: 'Roboto Mono', monospace;
}


footer {
    color: white;
    padding: 20px;
    background-color: #28453A;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 6px 24px rgba(0, 0, 0, 0.5);
}


#nameheader {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 15px black;
}

#familyphoto {
    width: 200px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 2px 6px 24px rgba(0, 0, 0, 0.5);
}

#lowerindex {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    margin-top: -5px;
    margin-bottom: 25px;
}

#modifydate {
    font-size: 1.2em;
    font-weight: bold;
}

#titlebody {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#uhoh {
    box-shadow: 12px 16px 44px rgba(0, 0, 0, 0.5);
}

.returnlink {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    margin-top: 20px;
    text-decoration: none;
}
