/* Medium View ---------------------------------------------*/
@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    section {
        max-width: 100%;
    }

    img {
        max-width: 100%;
    }

    main section:nth-child(3) {
        grid-column: span 2;
    }

    main section picture {
        width: 100%;
        height: auto;
    }

    main section {
        height:auto;
    }

    p {
        font-size: 1.5em;
    }
}


/* Desktop View ---------------------------------------------*/
@media only screen and (min-width: 60em)  {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section:nth-child(3) {
        grid-column: span 1;
    }

    p {
        font-size: 1.5em;
    }

}