@media only screen and (min-width: 64rem) {

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 3fr 3fr;
        color: #fff;
        font-weight: bold;
        padding: .5rem;
        margin: 0.2rem;
    }

    main {
        background-color: rgba(37, 59, 83, 0.4);
        border: 1px solid rgba(37, 59, 83, 0.7);
        justify-items: center;
        grid-gap: 2rem;
    }

    .socialHead {
        width: 75px;
        height: auto;
    }
    
    /*-----------------------------HERO---------------------------*/

    .SQhero {
        height: 100%;
        grid-column: 2;
        grid-row: span 2;
        margin: 0;
        overflow: hidden;
        width: 100%;
    }

    .SQhero h1 {
        font-size: 3.25rem;
        text-align: center;
        width: 96%;
        border-radius: 10px;
    }

    .SQhero img {
        position: absolute;
        object-position: center;
        justify-content: right;
        height: 100%;
        width: auto;
        margin-top: 0;
    }

    .SQhero button {
        width: 50%;
        height: 75px;
        border-radius: 15px;
        background: radial-gradient(#fff, rgba(37, 59, 83, 0.7));
        color: #000;
        font-family: "Playfair Display SC", sans-serif;
        font-size: 1.75rem;
        font-weight: bolder;
    }

    /*-----------------------------Event---------------------------*/

    .SQevent {
        height: 100%;
        grid-column: 1;
        grid-row: 1;
    }

    .SQevent section {
        width: 100%;
        height: 100%;
        top: 10px;
        margin-top: 0;
        margin-right: 0.75rem;
        justify-content: center;
    }

    .SQevent section h3 {
        font-size: 2.0rem;
    }

    .SQevent section p {
        font-size: 1.25rem;
    }
    
    /*-----------------------------Spotlight---------------------------*/

    .SQspot {
        grid-column: 3;
        grid-row: span  3;
        display: block;
        margin: 0.2rem;
        padding: 0.2rem;
        align-items: center;
        width: 100%;
        min-width: 275px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 2rem;
        
    }

    .SQspot img {
        width: 100px;
        margin-top: 1rem;
    }

    .spotlight, #spot3 {
        height: 95%;
        align-items: center;
    }

    #spot3 {
        padding-top: 10px;
        display: block;
        align-items: center;
    }
    
    /*-----------------------------WEATHER---------------------------*/

    .SQweather {
        grid-column: 1;
        grid-row: 2;
        height: 100%;
        width: 100%;
    }

    /*.SQweather img {
        height: 100%;
        width: 100%;
    }*/

    #temperature {
        font-size: 1.75rem;
    }

    #winDiv {
        height: 100%;
        border-bottom: 2px solid white;
    }

    #weatherIcon {
        position: relative;

    }

    /*-----------------------------NEWS---------------------------*/
    
    .SQnews {
        height: 200px;
        grid-column: 2;
        grid-row: 3;
    }

    .SQnews p {
        font-size: 1.05rem;
    }

    /*-----------------------------JOIN---------------------------*/

    .SQjoin {
        grid-column: 1;
        grid-row: 3;
        height: 195px;
    }

    .SQjoin p {
        font-size: 1.15rem;
    }


    /* ---------------------------------------- Footer ----- */

    Footer {
        grid-template-columns: 1fr 2fr 2fr;

    }

    .addFoot {
        font-size: 1.5rem;
        
    }

    .logoFoot {
        width: 150px;
        padding-left: 50px;
    }



    /*------------------------------------------- Discovery HTML ------- */
    .discMain {
        display: block;
        
    }

    .discImageCont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 400px 400px;
        justify-items: center;
        grid-row-gap: 2rem;
        margin: 0;
        padding: 1rem;
    }

    #ninethImg {
        grid-column: 3;
    }



}