@media only screen and (min-width: 35.375rem) {
    
    .mainTitle {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0.8rem;
    }

    .bannershow {
        
        width: 80%;
    }

    header { 
        display: flex;
        flex-direction: column;
    }

    .headDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .logoHead {
        margin: 0;
        padding-bottom: 0.5rem;
    }
    
    nav {
        grid-row: 2;
        border-top: 1px solid #fff;
    }
    
    nav ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        border: none;
        list-style-type: none;
        justify-content: space-evenly;
    }

    .navigation li {
        display: flex;
        font-size: 1.2rem;
        margin: 0.8rem;
        border: none;
        list-style-type: none;
        justify-content: space-evenly;
    }
    
    .socialStack {
        display: flex;
        flex-direction: row;
    }
    
    .socialHead {
        width: 50px;
        margin-bottom: 1.2rem;
    }

    
    
    nav ul li a {
        color: #fff;;
        text-decoration: none;
        letter-spacing: 0.2rem;
        padding: 0.8rem;
        margin: 0;
        border: none;
    }
    
    nav ul li a:hover {
        color: #000;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.6);
    }
    

    .navigation li:first-child {
        display: none;
    }

    .responsive li {
        display: none;
    }

    .dateHead {
        font-size: 1.2em;
    }

/*---------------------------------------------------- Main ------ */
    
main section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .8fr .8fr .8fr .8fr .8fr;
    margin: 0.8rem;
    padding: 0;
    
}

main {
    color: #fff;
    font-weight: bold;

}

/*-----------------------------HERO---------------------------*/

.SQhero {
    grid-column: span 2;
    grid-row: 1;
    height: 200px;
}

.SQhero h1 {
    font-size: 2.5rem;
}

.SQhero span {
    display: block;
}

.SQhero img {
    object-position: center;
    width: auto;
    height: 100%;
    
}


/*-----------------------------EVENT---------------------------*/

.SQevent {
    grid-row: 5;
    position: relative;
    text-align: left;
    /*background-color: transparent;
    margin: 0;*/
    overflow: hidden;
    background-color: rgba(37, 59, 83, 0.4);
    height: 100%;
}
    
.SQevent section {
    display: block;
    width: 100%;
    height: 100%;
    top: 10px;
    margin-top: 0;
    margin-right: 0.75rem;
    justify-content: center;
}


.SQevent h2 {
    justify-content: left;
    width: 100%;
    top: 5px;
    left: 15px;
    text-shadow: 5px 5px 3px #000;
    margin: 2px auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}


.SQevent section{
    margin-left: 0;
}

.SQevent section h3 {
    font-size: 1.85rem;
}

/*-----------------------------SPOT---------------------------*/

.SQspot {
    grid-column: span 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgba(37, 59, 83, 0.4);
    border: 1px solid rgba(37, 59, 83, 0.7);
}

.spotlight {
    padding-top: 0.3rem;
    margin: 0.8rem;
}

/*-----------------------------WEATHER---------------------------*/

.SQweather {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

#temperature {
    font-size: 1.25rem;
}

#weatherIcon {
    
    float: left;
    /*top: 35px;*/
}

#windDiv {
    font-size: 1.15rem;
    height: 100%;
    /*padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-weight: 800;
    text-align: center;*/
}

.SQweather section {
    display: block;
    height: 100%;
    /*padding-right: 10px;*/
    margin: 0 auto;
    text-align: center;
    
}

#weatherWrap {
    height: 100%;
}

#weatherBack {
    height: 100%;
}

/*-----------------------------NEWS---------------------------*/

.SQnews {
    grid-column: span 2;
    grid-row: 2;
}

.SQnews p {
    font-size: 1.5rem;
}


/*-----------------------------JOIN---------------------------*/

.SQjoin {   
    grid-column: span 2;
    grid-row: 4;
    display: revert;
    height: 175px;
    padding: 0.8rem;
    margin: 0;
    text-align: center;
}

/*.SQjoin button {
    width: 95%;
    height: 75px;
    border-radius: 15px;
    background: radial-gradient(#fff, rgba(37, 59, 83, 0.7));
    color: #000;
    font-family: "Playfair Display SC", sans-serif;
    font-size: 1.75rem;
    font-weight: bolder;
}*/

.SQjoin p {
    font-size: 1.5rem;
}


/*---------------------------------------------------- Footer -------------*/

    footer {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 2fr .5fr .5fr;
    }

    .addFoot {
        grid-column: 2;
        grid-row: 1;
        display: block;
        margin: 0.8rem;
        justify-content: center;
        padding-top: 0.8rem;
        border: none;
    }
    
    .contactFoot {
        grid-column: 3;
        grid-row: 1;
        border: none;
    }

    footer p {
       padding: 0;
    }

    .footrunner {
        grid-column: span 4;
        padding-top: 0.8rem;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    .modifiedFoot {
        grid-column: span 4;
    }

    .logoFoot {
        width: 200px;
    }

    footer a {
        border: none;
    }

    /* ---------------------------------------------------------- Discovery HTML ---------- */
    .discImageCont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 400px);
        justify-items: center;
        grid-row-gap: 2rem;
        margin: 0;
        padding: 1rem;
    }

    .discPictureCont {
        display: absolute;
        overflow: hidden;
        border-radius: 20px;
        width: 75%;
        object-position: center;
        transition: 800ms;
        border: 7px solid rgba(255, 255, 255, 0.2);
    }

    .discImages {
        width: auto;
        height: 100%;
    }

    .discPictureCont:hover {
        border-radius: 0;
        width: 100%;
        transition-timing-function: ease-in-out;
        border: 4px solid rgb(255, 255, 255);
    }

    /* --------- Form ---------------*/
form {
    margin: 0;
    padding: 1rem;
    justify-items: center;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 300;
    border: 5px solid #5f6b6b;

}

form input.primary {
    display: block;
    width: 100%;
    height: 2rem;
}

form input.secondary label {
    display: block;
}



form fieldset {
    margin: 1rem;
    padding: 1rem ;
    background-color: rgba(91, 117, 145, 0.5);
    max-width: 640px;
}

form label div {
    padding-top: 0.5rem;
    padding-left: 1rem;
    background-color: rgba(210, 191, 121, 0.15);
}

label {
    width: 99.25%;
    margin: 0;
    padding: 1rem;
    min-height: 44px;
}

form textarea {
    width: 100%;
}

} /* --- media close --- */