@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Permanent+Marker&family=Playfair+Display+SC:wght@400;700&display=swap');

body {
    background-color: #D2BF79;
    border: 5px solid #5f6b6b;
    margin: 0;
    padding: 5px;
}

/* ------------------------------------------------------- Header ----*/

header {
    background-color: #5f6b6b;
    font-family: "Playfair Display SC", sans-serif;
    color: #fff;
    padding: 0.8rem;
}

header img:nth-child(0) {
    flex: 1 1 100%;
    width: 120px;
    height: 120px;
    padding: 0.8rem;
    padding-left: 0;
}

.headDiv {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.mainTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0.8rem;
}

.socialStack {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
}

.socialHead {
    width: 50px;
    margin-bottom: 1.2rem;
}

header h1 {
    align-items: center;
    margin: 0;
}

header p {
    padding-left: .8rem;
    margin: 0;
}

.dateHead {
    display: flex;
    background-color: rgba(131, 145, 182, 0.1);
    justify-content: center;
    border-radius: 8px;
}


nav li:nth-child(0) {
    display: block;
    clear: left;
    color: #fff;
    border: none;
    background-color: transparent;
    margin: 3px;
    font-size: 2rem;
}

nav ul  {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: #fff;;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

nav ul li a:hover {
    color: #000;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.6);
}

.navigation a.menu::before {
	content: "☰ ";
}

.navigation li:first-child {
    display: block;
    padding: 1em;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
    padding: 1em;
  }

.responsive a.menu::before {
	content: "⚞ ";
}

/*----------------------------BANNER-----------------------------*/

.banner {
    display: none;
}

.bannershow {
    display: block;
    padding: 1rem;
    padding-right: 40px;
    margin: 1rem;
    background-color: white;
    color: black;
    font-size: 1.4rem;
    border-radius: 7px;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
}


/* ------------------------------------------------------- Main SQ's ----*/

main {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1rem; 
    color: #fff;
    font-weight: bold;
    padding: 0;
    margin: 0.2rem;
    /*background-color: rgba(37, 59, 83, 0.4);*/
    border: 1px solid rgba(37, 59, 83, 0.7);
    overflow: hidden;
}

main div {
    background-color: rgba(37, 59, 83, 0.4);
    padding: 0;

    overflow: hidden;
}

h2 {
    
    width: 100%;
    margin-left: 15px;
    text-shadow: 5px 5px 3px #000;
    margin: 2px auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

p {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
}

/*-------------------------HERO------------------*/

.SQhero {
    position: relative;
    text-align: left;
    background-color: transparent;
    margin: 0;
    /*height: 200px;*/
    overflow: hidden;
}

.SQhero span {
    display: block;
}

.SQhero img {
    width: 100%;
}

.SQhero h1 {
    position: absolute;
    width: 100%;
    top: 5px;
    left: 15px;
    text-shadow: 5px 5px 3px #000;
    margin: 2px auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.SQhero button {
    position: absolute;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    bottom: 15px;
    right: 10px;
    background: radial-gradient(#fff, rgba(37, 59, 83, 0.7));
    color: #000;
    font-family: "Playfair Display SC", sans-serif;
    font-weight: 800;
}

/*-------------------------EVENT------------------*/

.SQevent {
    position: relative;
    text-align: left;
    background-color: transparent;
    margin: 0;
    height: 228px;
    padding: 0.7rem;
    overflow: hidden;
    background-color: rgba(37, 59, 83, 0.4);
}

.SQevent section {
    display: block;
    width: 100%;
    top: 10px;
    margin-top: 0;
    margin-right: 0.75rem;
    justify-content: center;
}

.SQevent h2 {
    justify-content: left;
    width: 100%;
    top: 5px;
    left: 15px;
    text-shadow: 5px 5px 3px #000;
    margin: 2px auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.SQevent h3, .SQevent p {
    width: 100%;
    text-align: center;
    justify-content: center;
    color: white;
}

.SQevent h3 {
    color: #eee;
    text-shadow: 5px 5px 8px #000;
}

/*-------------------------WEATHER------------------*/
.SQweather {
    padding: 0;
    margin: 0;
    position: relative;
    height: 250px;
    background-color: transparent;
    overflow: hidden;
}

.SQweather section img {
    width: 150px;
    float: left;
    top: 35px;
}

.SQweather section {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 5px;
    padding-right: 10px;
    margin: 0 auto;
}

.SQweather h2 {
    color: #eee;
    text-align: center;
    margin-right: 5px;
}

.SQweather section p {
    color: #eee;
    text-align: center;
    text-shadow: 5px 5px 8px #000;
}

.SQweather section p:nth-child(3) {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.SQweather section p:nth-child(5) {
    border-top: #eee;
    color: #eee;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-top: 2px solid white;
    padding-top: 1.5rem;
}

/*-------------------------NEWS------------------*/

.SQnews {
    padding: 10px;

}

.SQnews p {
    color: white;
    font-weight: 400;
}

/*-------------------------SPOTLIGHTS------------------*/

.SQspot {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: 1fr 1fr;
    margin: 0.2rem;
    padding: 0.2rem;
    background-color: rgba(37, 59, 83, 0.4);
    border: 1px solid rgba(37, 59, 83, 0.7);
    color: white;
    justify-content: center;
    text-align: center;
}


.SQspot div section {
    display: block;
}

.SQspot  p {
    margin: .25rem;
    padding: 0;
}

#spot3, .SQjoin {
    display: none;
}

.spotlight {
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;;
    justify-items: center;
}

/*-------------------------JOIN------------------*/



/* ------------------------------------------------------- Footer ----*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5f6b6b;
    font-family: "Playfair Display SC", sans-serif;
    color: #fff;
    padding: 0.8rem;
}


footer p  {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0.4rem;
    color: #fff;
    text-decoration: none;
}

footer a {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0.4rem;
    color: #fff;
    text-decoration: none;
    
}

.addFoot, .contactFoot {
    display: inline;
    margin: 0.8rem;
    justify-content: center;
    
    padding-top: 0.8rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.logoFoot {
    width: 75px;
    justify-content: center;
}

