@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Permanent+Marker&family=Playfair+Display+SC:wght@400;700&display=swap');


body { 
    border: 5px solid  #5f6b6b;
    border-radius: 20px;
    background-color: rgb(210,191,121, 0.35);
    max-width: 85%;
    margin:auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1rem;
    justify-content: center;
  }


header, footer {
    font-family: 'Playfair Display SC', serif;
    color: white;
    padding: 0;
    background-color: #5f6b6b;
    border-radius: 20px;
    box-shadow: 2px 6px 24px rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 0.2rem;
}

header {
    font-size: 2rem;
    margin-bottom: .5em;
}

footer {
    font-size: 0.85rem;
    margin-top: 1em;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 15px black;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin: 10px 10px 0 10px;
}

h3 {
    font-family: 'Playfair Display SC', serif;
    font-size: .5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin: 10px 10px 0 10px;
}

ul {
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin:0;
    list-style: none;

}    

a, .returnlink {
    text-decoration: none;
    color: white;    
}

a:hover {
    color: #5f6b6b;
    transition-duration: 600ms;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-weight: 700;
}


li{
    list-style: none;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1em;
    margin: 0;
    align-items: center;
}

li:hover {
    text-decoration: none;
    background-color: white;
    transform: scale(1.1);
    transition-duration: 800ms;
    border-radius: 20px;
    box-shadow: 12px 6px 44px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}


p {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.25rem;
    padding: 1em;
    margin: 0;
}

.commName {
    grid-column: span 5;
    margin: 0;
}

#commLink {
    color: #5f6b6b;
    font-size: 2em;
}

#modifydate {
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
    margin: 1em;
}

#titlebody {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.returnlink {
    background-color: white;
    color: #5f6b6b;
    font-family: 'Playfair Display SC', serif;
    font-size: 1.1em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 10px;
}

.returnlink:hover {
    color: #5f6b6b;
}

#commLogo {
    grid-row: span 2;
    justify-content: center;
    width: 350px;
    height: auto;
    padding: 0;
    margin-bottom: 10px;
}

/* ---------------- Target Audiences ---------------- */

.personas {
    display: block;
    align-items: center;
    margin: auto;
    padding: 0.5em;
}

.personaHead {
    align-items: top;
    justify-content: center;
}

.personaImages {
    border: 10px solid white;
    padding: 0;
    margin: 1em 0 1em 1em;
    box-shadow: 12px 6px 44px rgba(0, 0, 0, 0.5);
    width: 80%;
}

.personaPara {
    align-items: bottom;
    justify-content: left;
    background-color: #5f6b6b;
    color: white;
    border-radius: 0 20px 20px 0;
    box-shadow: 12px 6px 20px rgba(0, 0, 0, 0.5);
}

#colorBack {
    background-image: linear-gradient(to right, rgb(210,191,121, 0.0), rgb(210,191,121, 1));
    border-radius: 0 20px 20px 0;
}

#colorPara, #colorHeadFootBack {
    background-image: linear-gradient(to right, rgb(95,107,107, 0.0), rgb(95,107,107, 1));
    border-radius: 0 20px 20px 0;
}

#colorPara, #colorHeadFootBack {
    background-image: linear-gradient(to right, rgb(95,107,107, 0.0), rgb(95,107,107, 1));
    border-radius: 0 20px 20px 0;
}

#colorHeadFootText {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    border-radius: 0 20px 20px 0;
}

#colorText {
    color: white;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgb(255, 255, 255));
    border-radius: 20px;
}

#fontTitle {
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
}

#fontTypeH {
    font-family: 'IBM Plex Serif', serif;
}

/*---------Index CSS---------------*/

/*

.commBody {
    background-color: rgb(210,191,121, 0.35);
    justify-content: center;
}

#commHead, #commFoot {
    background-color: #5f6b6b;
    justify-content: center;
    border-radius: 10px;
}



.commH1, .commName {
    grid-column: span 5;
}

#commNav {
    text-decoration: none;
    list-style: none;
    width: 100%;
    grid-column: span 5;
    grid-row: 3;
    display: flex;
    
}



#l3return {
    font-size: 1em;
}

*/